{% extends 'base.html'  %}
{% load static %}
{%block title %}Departments{% endblock%}

{% block image_block%}

{%endblock%}

{% block content %}


  <div class="container mt-5">
 

    <div class="row pt-5 text-primary">
  
      <!-- Grid column -->
      <div class="col-lg-4 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          
          {% load static %}
          <img class="img-fluid" src="{% static 'Images/boarding.jpg' %}" alt="olbutyo boys">

           
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Boarding</h6>
        </a>
        <p>H.O.D : <a class="font-weight-bold">Mr. Cheruiyot</a></p>
        <!-- Excerpt -->
        <p class="black-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
      </div>
      <!-- Grid column -->

       <!-- Grid column -->
       <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">

          {% load static %}
          <img class="img-fluid" src="{% static 'Images/boarding.jpg' %}" alt="olbutyo boys">
           
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Examinations</h6>
        </a>
        <p class="">H.O.D : <a class="font-weight-bold">Mr. Tanui</a></p>
        <!-- Excerpt -->
        <p class="black-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
      </div>
      <!-- Grid column -->
    
       <!-- Grid column -->
       <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          {% load static %}
          <img class="img-fluid" src="{% static 'Images/boarding.jpg' %}" alt="olbutyo boys">

            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Sports</h6>
        </a>
        <p>H.O.D : <a class="font-weight-bold">Mr. Terer</a></p>
        <!-- Excerpt -->
        <p class="black-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
      </div>
      <!-- Grid column -->
   
    
    
    </div>
    <div class="row pt-5 text-primary">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          {% load static %}
          <img class="img-fluid" src="{% static 'Images/boarding.jpg' %}" alt="olbutyo boys">

           
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>KESEF</h6>
        </a>
        <p>H.O.D : <a class="font-weight-bold">Mr. Bett</a></p>
        <!-- Excerpt -->
        <p class="black-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
      </div>
      <!-- Grid column -->

       <!-- Grid column -->
       <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          {% load static %}
          <img class="img-fluid" src="{% static 'Images/boarding.jpg' %}" alt="olbutyo boys">

           
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Counselling</h6>
        </a>
        <p class="S">H.O.D : <a class="font-weight-bold">Mr. Maritim</a></p>
        <!-- Excerpt -->
        <p class="black-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
      </div>
      <!-- Grid column -->
    
       <!-- Grid column -->
       <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          {% load static %}
          <img class="img-fluid" src="{% static 'Images/boarding.jpg' %}" alt="olbutyo boys">

            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Academics</h6>
        </a>
        <p>H.O.D : <a class="font-weight-bold">Mr. Langat</a></p>
        <!-- Excerpt -->
        <p class="black-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
          quo minus id quod maxime placeat facere possimus voluptas.</p>
        <!-- Read more button -->
      </div>
      <!-- Grid column -->
    
    </div>
  </div>

  <section class="container mt-5">
    <h3 class="lead text-center">Maths</h3>
    <hr style="color: chartreuse;">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Qualification</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-dark">
          <th scope="row">No.</th>
          <td>Mr. Rono</td>
          <td>B.S.C Education</td>
        </tr>
    
        <tr class="table-primary">
          <th scope="row">No.</th>
          <td>Mr. Tanui</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">No.</th>
          <td>Mr. Maritime</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-success">
          <th scope="row">No.</th>
          <td>Mr. Terer</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">No.</th>
          <td>Mr. Bett</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Ngetich</td>
          <td>B.S.C Education</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="container mt-5">
    <h3 class="lead text-center">Languages</h3>
    <hr style="color: chartreuse;">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Qualification</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-dark">
          <th scope="row">No.</th>
          <td>Mrs. Charlotte</td>
          <td>B.S.C Education</td>
        </tr>
    
        <tr class="table-primary">
          <th scope="row">No.</th>
          <td>Mrs. Marindany</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">No.</th>
          <td>Mr. Cheruiyot</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-success">
          <th scope="row">No.</th>
          <td>Mr. Langat</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">No.</th>
          <td>Mr. Cherogony</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Mukongolo</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mrs. Abigael</td>
          <td>B.S.C Education</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="container mt-5">
    <h3 class="lead text-center">Science</h3>
    <hr style="color: chartreuse;">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Qualification</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-dark">
          <th scope="row">No.</th>
          <td>Mr. Bett</td>
          <td>B.S.C Education</td>
        </tr>
    
        <tr class="table-primary">
          <th scope="row">No.</th>
          <td>Mr. Terer</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">No.</th>
          <td>Mr. Tanui</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-success">
          <th scope="row">No.</th>
          <td>Mrs. Joyce</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">No.</th>
          <td>Mr. Bett</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Ngetich</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Mutai</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Rono</td>
          <td>B.S.C Education</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="container mt-5">
    <h3 class="lead text-center">Humanities and Technicals</h3>
    <hr style="color: chartreuse;">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Qualification</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-dark">
          <th scope="row">No.</th>
          <td>Mr. Terer</td>
          <td>B.S.C Education</td>
        </tr>
    
        <tr class="table-primary">
          <th scope="row">No.</th>
          <td>Mr. Cheruiyot</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">No.</th>
          <td>Mr. Maritime</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-success">
          <th scope="row">No.</th>
          <td>Mr. Langat</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">No.</th>
          <td>Mr. Cherogony</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Yegon</td>
          <td>B.S.C Education</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">No.</th>
          <td>Mr. Dominic</td>
          <td>B.S.C Education</td>
        </tr>
      
      </tbody>
    </table>
  </section>

{%endblock%}
