{% load static %}
<footer>
  <div id="left-footer">
      <h3>Quick Links</h3>
      <p>
          <ul>
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li>
                  <a href="about.html">About Us</a>
              </li>
              <li>
                  <a href="bl.html">Events</a>
              </li>
              <li>
                  <a href="bp.html">Team</a>
              </li>
              
          </ul>
          
      </p>
  </div>

  <div id="right-footer">
     
      <div id="contact">
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-4ca43fbb-8d8a-4f39-bb73-8bae3cd9d410"></div> 
         </div>
          <div>
              <script src="https://apps.elfsight.com/p/platform.js" defer></script>
              <div class="elfsight-app-acddd762-3cf9-41af-b286-f4e840e6796c"></div>
      
          </div> 
            
      <ul style="list-style-type:none;">
          <li>Olbutyo Girls High School</li> 
          <li>P.O. BOX 488 Bomet</li>
          <li>&copy; 2021 olbutyo girls high school. All rigths reserved</li>
 
      </ul>   
    </div>
  
      
</footer>
